<% title @user.name %>

<div class="col-xs-12">
  <div class="col-xs-2">
    <p><%= image_tag @user.image_url, {width: 100, class: 'img-thumbnail'} %></p>
    <p><%= link_to "@#{@user.name}", "https://twitter.com/#{@user.name}" %></p>
  </div>
  <div class="col-xs-10">
    <% @user.tag_logs.each do |tag_log| %>
      <p><%= link_to tag_log.date, tag_log.view_path %></p>
      <div class="well col-xs-12">
        <% tag_log.tags.each do |tag| %>
          <div class="col-xs-2">
            <%= tag.count %>
            <%= tag.word %>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
