<% title "「#{@word}」の検索結果" %>

<%= render 'form' %>
<p><%= @word %></p>
<div class="col-xs-12">
  <% @tags.each do |tag| %>
    <div class="col-xs-2">
      <%= tag.count %>
      <%= tag.word %>
      <%= tag.date %>
    </div>
  <% end %>
</div>
<%= paginate @tags %>
