<% title "「#{@word}」の検索結果" %>

<%= render 'form' %>
<p><%= @word %></p>
<ul>
  <% @tags.each do |tag| %>
    <li><%= tag.word %></li>
    <li><%= tag.count %></li>
    <li><%= tag.date %></li>
  <% end %>
</ul>
