<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for?(:title) ? yield(:title) : Twordtag::Application.config.title %></title>
    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
    <link rel="stylesheet" href="/css/font-awesome.css">
  </head>
  <body>

    <div id="wrap">

      <div class="container">
        <%- if params[:controller] == 'tops' && params[:action] == 'index' %>
          <div id="header">
            <%= render 'tops/menu' %>
          </div>
        <% else %>
          <div class="page-header">
            <%= render 'tops/menu' %>
            <h1><%= Twordtag::Application.config.title %></h1>
          </div>
        <% end %>

        <%= yield %>
      </div>

      <div id="push"></div>

    </div>

    <div id="footer">
      <div class="container">
        <ul class="credit">
          <li class="pull-right"><%= link_to 'Back to top', '#' %></li>
          <li>Copyright © 2014 by <%=link_to '@soramugi', 'http://twitter.com/soramugi' %>.</li>
          <li>All Rights Reserved.</li>
          <li>Powered by
            <%= link_to('Ruby on Rails', 'http://rubyonrails.org') %>,
            <%= link_to('Bootswatch: Spacelab', 'http://bootswatch.com/spacelab/') %>,
            <%= link_to('GitHub', 'https://github.com/soramugi/twordtag') %>,
            <%= link_to('Travis CI', 'https://travis-ci.org/soramugi/twordtag') %>,
            <%= link_to('Heroku', 'https://www.heroku.com') %>,
            .
          </li>
        </ul>
      </div>
    </div>

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-43044942-10', 'twordtag.com');
      ga('send', 'pageview');
    </script>
  </body>
</html>
