<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for?(:title) ? yield(:title) : Twordtag::Application.config.title %></title>
    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>

    <div id="wrap">

      <div class="container">
        <%- if params[:controller] == 'tops' && params[:action] == 'index' %>
          <div id="header">
            <%= render 'tops/menu' %>
          </div>
        <% else %>
          <div class="page-header">
            <%= render 'tops/menu' %>
            <h1>TWordTag</h1>
          </div>
        <% end %>

        <%= yield %>
      </div>

      <div id="push"></div>

    </div>

    <div id="footer">
      <div class="container">
        <ul class="credit">
          <li class="pull-right"><%= link_to 'Back to top', '#' %></li>
          <li>Copyright © 2014 by <%=link_to '@soramugi', 'http://twitter.com/soramugi' %>.</li>
          <li>All Rights Reserved.</li>
          <li>Powered by
            <%= link_to('Ruby on Rails', 'http://rubyonrails.org') %>,
            <%= link_to('Bootswatch: Spacelab', 'http://bootswatch.com/spacelab/') %>,
            <%= link_to('GitHub', 'https://github.com/soramugi/twordtag') %>,
            <%= link_to('Travis CI', 'https://travis-ci.org/soramugi/twordtag') %>,
            <%= link_to('Heroku', 'https://www.heroku.com') %>,
            .
          </li>
        </ul>
      </div>
    </div>

  </body>
</html>
